<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c0771910_w2020_mad3125_fp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar">
        <activity android:name=".ui.addBillActivity"></activity>
        <activity android:name=".ui.addCustomerActivity" />
        <activity android:name=".ui.detailsDisplayActivity" />
        <activity android:name=".ui.homeActivity" />
        <activity android:name=".ui.loginActivity" />
        <activity
            android:name=".ui.splashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>